* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 150px;
}

.from-label {
  margin-top: 3px;
}

form {
  border: 1px solid;
  padding: 20px 20px;
  margin-top: 10px;
  border-radius: 7px;
}

table {
  margin: 0 auto;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 5px;
}

label {
  font-weight: 700;
}

input {
  padding: 10px;
}

#form-btn {
  margin-top: 10px;
  padding: 5px 10px;
}
